<div class="d-flex flex-column mb-5">
    <label class="form-label" for="<%=id %>"><%=label %></label>
    <input
        id="<%=id %>"
        class="form-control"
        style="width: 24rem;"
        type="<%=type %>" 
        placeholder="<%=placeholder %>"
        required
    >
    <div class="invalid-feedback"><%=mensagemDeErro %></div>
</div>